.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}
.test{
  color: #3d0417;
  background-color: #b8e41a;
  height: 200px;
}
.test1{
  color: #3d0417;
  background-color: #460a41;
  height: 200px;
}
.App-header {
  background-color: #39083d;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body{
  font: verdana;
}

.header{
  background-color: #39083d
}
